<!doctype html>
<html ng-app="marwisMapping" >
  <head lang="en">
    <title>Marwis Mapping</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/styles/main.css"/>
  </head>
  <body ng-controller="LufftCtrl as lufft">
    <div class="container" ng-controller="ChatController">
      <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
          <div class="pull-right">
            <a href="#" class="brand">Single Marwis Mapping</a>
          </div>
        </div>
      </div>
      <div class="page-header">
        <h1>Marwis 001 {{ 2+2 }}</h1>
      </div>
      <div class="row">
        <div class="span3">
          <ul class="nav nav-list well">
            <li class="nav-header">Marwis Data</li>
            <li ng-repeat="user in roster" ng-bind="user">
            </li>
          </ul>
        </div>
        <div class="span9">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="span3">DateTime</th>
                <th class="span3">Lat</th>
                <th class="span3">Long</th>
                <th class="span3">Surface Temp</th>
                <th class="span3">Road Cond.</th>
              </tr>
            </thead>
            <tbody>
              <!--repeat row data <tr> in Marsis.Database-->
              <!--add ng-onclick(show on map) on the row store elevation to hidden elegation data element on row-->
              <tr ng-repeat="poll in lufft.getData()">
                <td class="span3" ng-bind="">{{ poll.date_time }}</td>
                <td class="span3" ng-bind="">{{ poll.latitude }}</td>
                <td class="span3" ng-bind="">{{ poll.longitude }}</td>
                <td class="span3" ng-bind="">{{ poll.SurfaceTemperature }}</td>
                <td class="span3" ng-bind="">{{ poll.RoadCondition }}</td>
              </tr>
            </tbody>
          </table>
          <div class="row controls">
            <form ng-submit="send()">
              <div class="span2"><input type="text" class="input-block-level" ng-model="name" ng-change="setName()" placeholder="Device Name"></div>
              <div class="input-append span7">
                <input type="text" class="span6" ng-model="text" placeholder="Data1">
                <input type="submit" class="span1 btn btn-primary" value="Send" ng-disabled="!text">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <ui-view></ui-view>
        <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <!-- AngularUI Router -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>
       <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyClGl4Bqu3Fc275RQocXtidXhQuRGDZGh8",
    authDomain: "test-marwis.firebaseapp.com",
    databaseURL: "https://test-marwis.firebaseio.com",
    projectId: "test-marwis",
    storageBucket: "test-marwis.appspot.com",
    messagingSenderId: "936049488428"
  };
  firebase.initializeApp(config);
</script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
    <!-- AngularUI Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/services/Marwis.js"></script>
    <script type="text/javascript" src="/scripts/services/Mapping.js"></script>
    <script type="text/javascript" src="/scripts/services/PollFirebase.js"></script>
    <script type="text/javascript" src="/scripts/controllers/LufftCtrl.js"></script>
  </body>
</html>
